<!--
    Author:         Ian Cunningham
    Student ID:     301255223
    Date:           10/05/2022
    File:           footer.ejs
-->

<!-- Copyright footer -->
<nav class="navbar fixed-bottom bg-light">
    <div class="container-fluid">
      <h5 id="copyright">&copy; Copyright 2022</h5>
    </div>
</nav>