<!--
    Author:         Ian Cunningham
    Student ID:     301255223
    Date:           10/05/2022
    File:           about.ejs
-->

<h1 style="text-align: center;margin-bottom: 100px;" ><%= title %> </h1>

<center>
    <!-- Introduction -->
    <p style="width: 70%;">
        My name is Ian Robert Mitchell Cunningham and I am 25 years old, and I was born 1997, May 15.
        If you are interested in viewing my resume, please view it <a href="/content/pdf/resume.pdf">here</a>
    </p>

    <!-- second paragraph -->
    <p style="width: 70%;">
        I first grew an interest in programming when I was around 11 years old. It all started out when I started getting curoius
        to how video games work. I'd try to download a private verison of the game, and I would start analysis the code
        and figuring out how the game functions. Fast forward 10 years later and my interest is still strong, and I'm always
        striving to learn more about computer programming. 
    </p>  

    <!-- third paragraph -->
    <p style="width: 70%;">
        I have also started two projects using unity game engine. The first one is a 2d platformer, like mario you could say.
        This is where I started learning the C# programming language. The second project was an first-person-shooter called
        Global Combat. During this project I learned about networking, databases, and saving data. I will be going over these projects more in detail here.
    </p>



    <br>
    <!-- picture of me -->
    <img  style="width: 15%;height: 15%;" alt="picture of Ian at Castle Loma in Toronto" src="/content/images/me.png">
    <br>
    <p>This picture was taken when I was at Castle Loma in Toronto, Ontario.</p>
</center><br><br><br><br><br>