<!--
    Author:         Ian Cunningham
    Student ID:     301255223
    Date:           10/05/2022
    File:           home.ejs
-->

<h1 style="text-align: center;" ><%= title %> </h1>
<p style="margin-bottom: 300px;">Welcome to the Home Page of my Portfolio</p>

<!-- My Mission -->
<h1 style="text-align: center;">My Mission</h1>
<p>The goal of this portfolio, is to give you a better understanding of who I am, and what I can bring to the table.</p>
<p>My current mission is to complete software engineering technology at Centenial College.</p>
<br>

<!-- Information on how to navigate the website -->
<p>If you wish to read about me and see what first got me into software engineering, and what my current goals are please</p>
<p>visit the <a href="/about">About</a> me page. You can also check out my current projects by navigating <a href="/projects">here.</a></p>
<p>I also offer services, so if you'd have a project you'd like me to work on please visit <a href="/services">visit</a> page to view my services</a></p>
<p>If you have any questions or would like to get in touch with me, please visit my <a href="/contact">contact</a> page.</p>