<!--
    Author:         Ian Cunningham
    Student ID:     301255223
    Date:           10/05/2022
    File:           projects.ejs
-->

<h1 style="text-align: center;" ><%= title %> </h1>

<div class="outerDiv">

    <!-- First Project (Global Combat) -->
    <div class="innerDiv">
        <h1>Global Combat</h1>
        <div style="width:100%;height:0px;position:relative;padding-bottom:56.250%;"><iframe src="https://streamable.com/e/36ylap?loop=0" frameborder="0" width="100%" height="100%" allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe></div>
        <p>
            This was aimed at being a multiplayer online FPS game, it has a leveling and battlepass system with rewards as you level up.
            You have to create your own account, and all of its information will be stored on an AWS database server. It also uses photon
            networking to make multiplayer possible. You also have the options to customize your weapons with skins and attachments.
            It's still currently being worked on.
        </p>
    </div>

    <!-- Second Project (2D Platformer) -->
    <div class="innerDiv">
        <h1>2D Platformer</h1>
        <div style="width:100%;height:0px;position:relative;padding-bottom:56.250%;"><iframe src="https://streamable.com/e/jeaczn?loop=0" frameborder="0" width="100%" height="100%" allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe></div>
        <p>
            This was aimed at being a single player 2D platformer, similar to the famous game called mario.
            On each level you encounter the goal is to complete it as fast as you can as your avoiding monsters and traps.
            You can collect gold coins along the way to unlock rewards. It's still currently being worked on.
        </p>
    </div>
</div>

<div class="outerDiv">

    <!-- Third Project (Runescape Private Servers) -->
    <div class="innerDiv">
        <h1>Runescape Private Server</h1>
        <div style="width:100%;height:0px;position:relative;padding-bottom:56.250%;"><iframe src="https://streamable.com/e/tsm85g?loop=0" frameborder="0" width="100%" height="100%" allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe></div>
    </div>

    <br><br><br><br><br>

    <div class="innerDiv">
        <p>
            Sticking with my roots, I still do development on Runescape private servers for fun. The language I am currently using 
            is Kotlin, which is similar to Java but it tends to use less code to achieve the same thing. I've really enjoy doing this 
            off and on since I was 11, and now I can put what I learn from class to use. Since there's no content added, what I do is
            add the animation, stats, drops to monsters. With there also being 24 different skills like woodcutting, fishing, mining and combat.
            I also have to code all that as well. It's still currently being worked on.
        </p>
    </div>
</div>