<!--
    Author:         Ian Cunningham
    Student ID:     301255223
    Date:           10/05/2022
    File:           services.ejs
-->

<h1 style="text-align: center;margin-bottom: 200px;" ><%= title %> </h1>

<center>
    <div>
        <div class="serviceDiv">
            <!-- Software Developers Services -->
            <h1>Software Developers Services</h1>
            <a href="services.html">
                <img src="/content/images/development.jpg" alt="Software Developers" style="width:100%; height:400px;" />
            </a>
            <table>
                <tr>
                    <td class="tableHeading">Programming</td>
                    <td class="tableHeading">Hourly Prices</td>
                </tr>

                <tr>
                    <td>Python</td>
                    <td>$45/hour</td>
                </tr>
                <tr>
                    <td>C#</td>
                    <td>$40/hour</td>
                </tr>
                <tr>
                    <td>Java</td>
                    <td>$45/hour</td>
                </tr>
                <tr>
                    <td>HTML/CSS</td>
                    <td>$38/hour</td>
                </tr>
                <tr>
                    <td>Security</td>
                    <td>$60/hour</td>
                </tr>
            </table>
            <br />
            <a href="services.html"><button class="button">Choose a Service</button></a>
        </div>
        <div class="serviceDiv">
            <!-- Database Services -->
            <h1>Database Services</h1>
            <a href="services.html">
                <img src="/content/images/database.jpg" alt="Database Servers" style="width:100%; height:400px" />
            </a>
            <table>
                <tr>
                    <td class="tableHeading">Database Software</td>
                    <td class="tableHeading">Monthly Prices</td>
                </tr>

                <tr>
                    <td>MySQL</td>
                    <td>$40/Month</td>
                </tr>
                <tr>
                    <td>SQLite</td>
                    <td>$35/Month</td>
                </tr>
                <tr>
                    <td>Firebase</td>
                    <td>$80/Month</td>
                </tr>
                <tr>
                    <td>PostgreSQL</td>
                    <td>$40/Month</td>
                </tr>
                <tr>
                    <td>IBM Db2</td>
                    <td>$40/Month</td>
                </tr>
            </table>
            <br />
            <button class="button" href="services.html">Choose a Service</button>
        </div>
        <div class="serviceDiv">
            <!-- Server Options -->
            <h1>Servers</h1>
            <a href="services.html">
                <img src="/content/images/servers.jpg" alt="Servers" style="width:100%; height:400px;" />
            </a>
            <table>
                <tr>
                    <td class="tableHeading">Server Type</td>
                    <td class="tableHeading">Monthly Prices</td>
                </tr>

                <tr class="tableCotent">
                    <td>VPS</td>
                    <td>$50/Month</td>
                </tr>
                <tr>
                    <td>Dedicated Servers</td>
                    <td>$80/Month</td>
                </tr>
                <tr>
                    <td>VPN</td>
                    <td>$20/Month</td>
                </tr>
                <tr>
                    <td>Cloud Storage</td>
                    <td>$35/Month</td>
                </tr>
                <tr>
                    <td>FTP Server</td>
                    <td>$25/Month</td>
                </tr>
            </table>
            <br />
            <a href="services.html"><button class="button">Choose a Service</button></a>
        </div>
    </div>
    <br>    <br>    <br>